.navbar{
    background-color:#05164D;
    display: flex;
    flex-direction: column;
    margin-top: -3px;
    padding: 5px;
    border-radius: 26px;
    background-image: linear-gradient(to top left, rgb(11, 0, 60) , #05164D);
}
#pfp{
    border-radius: 50%;
    margin: auto;
    margin-right: 10px;
    
}
.navbar-button {
    background-color: #155ada; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 8px;
  border-style: solid;
  border-width: 0px;
  border-color: white;
  transition: background-color 100ms;
}
.navbar-button:hover {
    background-color: #0550d0;
}
.navbar_list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.trophyRoad{
    position: relative;
    height: 45px;
    background-color: #030d2e; /* 5, 22, 77 */
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.trophyRoad-bar{
    background-color: #cccdd1;
    border-radius: 10px;
    height: 20px;
    width: 100%;
}
.pg{
    z-index: 1;
    background-color: #FFFFFF; /* color code i lufthanses btw */
    border-radius: 10px;
    margin-top: -20px;
    height: 20px;
    width: 50%;

}
li:first-child{
    padding-right: 50px;
}
li{
    margin: auto;
}
li:last-child{
    margin-left: 20px;
}
.navbar_button_group{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-right: auto;
    margin-top: 2px;
    justify-content: center;
    align-items: center;
}
.amogus{
    z-index: 2;
    margin-top: -28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.circle{
    height: 35px;
    width: 35px;
    border: 2px solid white;
    background-color: #05164D;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    /* margin-left: 10px;
    margin-right: 10px; */
}

.pgbar{
    height:5px;
    width:715%;
    background-color: rgb(114, 114, 114);
    position: relative;
    top: -20px;
    left: 35px;
}

/*INFORMATION BUTTON*/
.info_div{
    margin-left: 800px;
    height: 60px;
    width: 60px;
}
.info_div img{
    height: 60px;
    width: 60px;
}
.image_button{  
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    border-radius: 50%; 
    overflow: hidden; 
    width: 80%;
    height: 80%;
  }

/*POPUP INFORMATION*/
.image_button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
    width: 60px;
    height: 60px;
}

.popupinfo {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popupinfo .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 27px;
    left: 725px;
    margin-left: -80px;
    }
  
    .popupinfo .popuptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 300%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
      }
  /* Toggle this class - hide and show the popup */
  .popupinfo .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }