.navbar{
    background-color:#05164D;
    display: flex;
    flex-direction: column;
    margin-top: -3px;
    padding: 5px;
    border-radius: 26px;
    background-image: linear-gradient(to top left, rgb(11, 0, 60) , #05164D);
}
#pfp{
    border-radius: 50%;
    margin: auto;
    margin-right: 10px;
    
}
.navbar_list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.trophyRoad{
    position: relative;
    height: 45px;
    background-color: #030d2e; /* 5, 22, 77 */
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.trophyRoad-bar{
    background-color: #cccdd1;
    border-radius: 10px;
    height: 20px;
    width: 100%;
}
.pg{
    z-index: 1;
    background-color: #FFFFFF; /* color code i lufthanses btw */
    border-radius: 10px;
    margin-top: -20px;
    height: 20px;
    width: 50%;

}
li:first-child{
    padding-right: 50px;
}
li{
    margin: auto;
}
li:last-child{
    margin-left: 20px;
}
.navbar_button_group{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-right: auto;
    margin-top: 2px;
    justify-content: center;
    align-items: center;
}
.amogus{
    z-index: 2;
    margin-top: -28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.circle{
    height: 35px;
    width: 35px;
    border: 2px solid white;
    background-color: #05164D;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    /* margin-left: 10px;
    margin-right: 10px; */
}

.pgbar{
    height:5px;
    width:715%;
    background-color: rgb(114, 114, 114);
    position: relative;
    top: -20px;
    left: 35px;
}

.bar1{
    background-color: green;
}