.all_container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    border-radius: 10px;
    margin-bottom: 20px;
}

.price-container {
    width: 100%;
    min-height: 100vh;
    background: #f4f4f4;
}

.price-container h2 {
    color: #fff;
    font-size: 32px;
    padding: 50px 0;
    text-align: center;
}

.credit-row {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 25px;
}

.credit-col {
    background: #05164D;
    padding: 10% 15%;
    border-radius: 10px;
    color: #fff;
    text-align: center;
}

.credit-col h3 {
    font-size: 44px;
    margin: 20px 0 40px;
    font-weight: 500;
}

.credit-col p {
    font-size: 22px;
}

.credit-col h3 span {
    font-size: 16px;
}

.credit-col img {
    border-radius: 100px;
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.credit-col ul {
    text-align: justify;
    margin: 20px 0;
    color: #ddd;
    list-style: none;
}

.credit-col ul li {
    margin: 15px 0;
}

.credit-col ul{
    padding-left: 0px;
}
.shop-button {
    position: fixed;
    top: 50px;
    left: 50px;
    background-color: #05164D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: #05164D;
    transition: background-color 200ms, border-color 200ms, color 200ms;
}
.shop-button:hover {
    background-color: #fff;
    border-color: #05164D;
    color: #05164D;
}

.credit-col button {
    width: 100%;
    padding: 14px 0;
    background: #fff;
    color: #05164D;
    font-size: 15px;
    border: 1px solid #fff;
    border-radius: 6px;
    margin-top: 30px;
    cursor: pointer;
    transition: background 200ms, color 200ms;
}

.credit-col button:hover {
    background: #05164D;
    color: #fff;
}