{% extends 'base.html' %}


{% block content%}

{% include 'map.html'%}
{{json}}
<div class="all_container">
    <div class="price-container">
        <h2>Recent Flights History</h2>
       {% for flight in flights%}
        <div class="credit-row">
            <div class="credit-col">
                <p class="currently" style="color: rgb(0, 0, 103); font-weight: 400;">{{flight.origin}} &nbsp &nbsp <span style="color: lightgray; font-weight: 200;">----------------</span> &nbsp &nbsp {{flight.destination}}</p>
                <p></p>

                    <p> {{flight.distance}} km</p>

            </div>
        </div>
    {%endfor%}
    </div>
</div>

{% endblock %}