{% extends 'base.html' %}


{% block content%}

{% include 'map.html'%}
<div class="all_container">
    <div class="price-container">
        <h2>Recent Flights History</h2>
       {% for flight in flights%}
        <div class="credit-row">
            <div class="credit-col">

                <p class="currently" style="color: rgb(0, 0, 103); font-weight: 400;">{{flight.origin.Name}} &nbsp &nbsp <span style="color: lightgray; font-weight: 200;">----------------</span> &nbsp &nbsp {{flight.destination.Name}}</p>
                <div class="airports">
                <p style="color: rgb(89, 89, 89); font-weight: 300; margin-left: 60px;"> {{flight.origin.Aeroport}} </p>
                <p style="color: rgb(89, 89, 89); font-weight: 300; margin-left: 145px" > {{flight.origin.Aeroport}}</p>
            </div>
            <div style="display: flex; flex-direction: row;" >
                <img src="/static/images/black-plane.png" style="height: 20px; width: 20px; color: #e5e5e5; margin-left: 30px; ">
                    <p style="margin-top: -1px; margin-left: 10px;"> {{flight.distance}} km</p>
                    <img src="/static/images/black-token.png" style="height: 20px; width: 20px; color: #e5e5e5; margin-left: 110px">
                    <p> {{flight.token}}</p>
            </div>
            </div>
        </div>
    {%endfor%}
    </div>
</div>
{% endblock %}