<link rel="stylesheet" href="{{ url_for('static',
filename = 'css/navbar.css') }}">

<div class="navbar">
  <div class="navbar_button_group">
    <ul class="navbar_list">
      <li>
        <div style="border-radius:5px;padding: 10px;display: flex; flex-direction: row;  ">
          <img src="../static/images/admin-photo.png" id="pfp" alt="profile picture" style="height: 3rem; width: 3rem;">
          <p style="font-size: 18px; font-weight: 500; color: #e5e5e5;">{{firstname}} {{lastname}}</p>
        </div>
      </li>
      <li>
        <div style="border-radius:5px; padding: 2px 10px; display: flex; flex-direction: row;">
          <img src="/static/images/token.png" style="height: 20px; width: 20px; color: #e5e5e5; margin-top: 15px; margin-right: 5px;">
          <p style="font-size: 16px; font-weight: 500; color: #e5e5e5;">{{tokens}} Tokens<p>
        </div>
      </li>
      <li>
        <div style="border-radius:5px; padding: 2px 10px; display: flex; flex-direction: row;">
          <img src="/static/images/plane.png" style="height: 20px; width: 20px; color: #e5e5e5; margin-top: 15px; margin-right: 5px;">
          <p style="font-size: 16px; font-weight: 500; color: #e5e5e5;">{{km}} km</p>
        </div>
      </li>
      <li>
        <p align="center"><a href=vmd_timestamp ><button class=navbar-button>Shop</button></a></p>
      </li>
    </ul>
  </div>

  <div class="trophyRoad-bar"></div>
  <div class="pg" style="width:50%;"></div>
  {% if ((levelPoints-nextLevelPoints)/levelPoints)*10 >= 1 and ((levelPoints-nextLevelPoints)/levelPoints)*10 < 2 %}
  <div class="pg" style="width:55%;"></div>
  {% elif  ((levelPoints-nextLevelPoints)/levelPoints)*10 >= 2 and ((levelPoints-nextLevelPoints)/levelPoints)*10 < 3 %}
  <div class="pg" style="width:60%;"></div>
  {% elif  ((levelPoints-nextLevelPoints)/levelPoints)*10 >= 3 and ((levelPoints-nextLevelPoints)/levelPoints)*10 < 4 %}
  <div class="pg" style="width:65%;"></div>
  {% elif  ((levelPoints-nextLevelPoints)/levelPoints)*10 >= 4 and ((levelPoints-nextLevelPoints)/levelPoints)*10 < 5 %}
  <div class="pg" style="width:70%;"></div>
  {% elif  ((levelPoints-nextLevelPoints)/levelPoints)*10 >= 5 and ((levelPoints-nextLevelPoints)/levelPoints)*10 < 6 %}
  <div class="pg" style="width:75%;"></div>
  {% elif  ((levelPoints-nextLevelPoints)/levelPoints)*10 >= 6 and ((levelPoints-nextLevelPoints)/levelPoints)*10 < 7 %}
  <div class="pg" style="width:80%;"></div>
  {% elif  ((levelPoints-nextLevelPoints)/levelPoints)*10 >= 7 and ((levelPoints-nextLevelPoints)/levelPoints)*10 < 8 %}
  <div class="pg" style="width:85%;"></div>
  {% elif  ((levelPoints-nextLevelPoints)/levelPoints)*10 >= 8 and ((levelPoints-nextLevelPoints)/levelPoints)*10 < 9 %}
  <div class="pg" style="width:90%;"></div>
  {% else %}
  <div class="pg" style="width:95%;"></div>
  {% endif %}
  <div class="amogus">
        <div class="circle">{{currLevel-1}}</div>
        <div class="circle">{{currLevel}}</div>
        <div class="circle">{{currLevel+1}}</div>

  </div>
</div>