<!DOCTYPE html>

<link rel="stylesheet" href="/static/css/shop.css">

<div class="all_container">
    <div class="price-container">
        <h2>Choose your credits</h2>
        <div class="credit-row">
            <div class="credit-col">
                <p>Basic</p>
                <h3>8$<span> / month</span></h3>
                <h3>10 credits</h3>
                <ul>
                    <li>All analitics features</li>
                    <li>Database of 250 000 champions</li>
                    <li>Email Support</li>
                    <li>Something else</li>
                </ul>
                <button>Add To Cart</button>
            </div>
            <div class="credit-col">
                <p>Starter</p>
                <h3>80$ <span>/ month</span></h3>
                <h3>100 credits</h3>
                <ul>
                    <li>All analitics features</li>
                    <li>Database of 250 000 champions</li>
                    <li>Email Support</li>
                    <li>Something else</li>
                </ul>
                <button>Add To Cart</button>
            </div>
            <div class="credit-col">
                <p>Pro</p>
                <h3>160$<span> / month</span></h3>
                <h3>200 credits</h3>
                <ul>
                    <li>All analitics features</li>
                    <li>Database of 250 000 champions</li>
                    <li>Email Support</li>
                    <li>Something else</li>
                </ul>
                <button>Add To Cart</button>
            </div>
        </div>
    </div>
</div>