<!DOCTYPE html>

<link rel="stylesheet" href="/static/css/shop.css">
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

<div class="all_container">
    <div class="price-container">
        <h2 style="font-family: Arial, Helvetica, sans-serif; color: #1b1460;">Bundle Shop</h2>
        <div class="credit-row">
            <div class="credit-col">
                <p>Buy a Dom Prignon in next flight</p>
                <img src="/static/images/dom-perignon.jpg">
                
                <h3>5 Tokens</h3>
                <ul>
                    <li>Enjoy the elegance and sophistication of a bottle of Dom Pérignon's finest vintage champagne.</li>
                </ul>
                <button>Purchase</button>
            </div>
            <div class="credit-col">
                <p>Buy a Dom Prignon in next flight</p>
                <img src="/static/images/dom-perignon.jpg">
                
                <h3>5 Tokens</h3>
                <ul>
                    <li>Enjoy the elegance and sophistication of a bottle of Dom Pérignon's finest vintage champagne.</li>
                </ul>
                <button>Purchase</button>
            </div>
            <div class="credit-col">
                <p>Buy a Dom Prignon in next flight</p>
                <img src="/static/images/dom-perignon.jpg">
                
                <h3>5 Tokens</h3>
                <ul>
                    <li>Enjoy the elegance and sophistication of a bottle of Dom Pérignon's finest vintage champagne.</li>
                </ul>
                <button>Purchase</button>
            </div>
            <div class="credit-col">
                <p>Buy a Dom Prignon in next flight</p>
                <img src="/static/images/dom-perignon.jpg">
                
                <h3>5 Tokens</h3>
                <ul>
                    <li>Enjoy the elegance and sophistication of a bottle of Dom Pérignon's finest vintage champagne.</li>
                </ul>
                <button>Purchase</button>
            </div>
            <div class="credit-col">
                <p>Buy a Dom Prignon in next flight</p>
                <img src="/static/images/dom-perignon.jpg">
                
                <h3>5 Tokens</h3>
                <ul>
                    <li>Enjoy the elegance and sophistication of a bottle of Dom Pérignon's finest vintage champagne.</li>
                </ul>
                <button>Purchase</button>
            </div>
            <div class="credit-col">
                <p>Buy a Dom Prignon in next flight</p>
                <img src="/static/images/dom-perignon.jpg">
                
                <h3>5 Tokens</h3>
                <ul>
                    <li>Enjoy the elegance and sophistication of a bottle of Dom Pérignon's finest vintage champagne.</li>
                </ul>
                <button>Purchase</button>
            </div>
        </div>
    </div>
</div>